<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="{% url 'article:article-list' %}" class="navbar-brand">Dick's JZW</a>
    </div>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Django</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Python</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'article:article-list' %}" class="nav-link">文章</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'article:article-create' %}" class="nav-link">写文章</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
                        {{ user.username | upper }}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'userprofile:logout' %}">退出登录</a>
                        <a href="#" class="dropdown-item" onclick="user_delete()">删除用户</a>
                        <a href="{% url 'userprofile:edit' user.id %}" class="dropdown-item">个人信息</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'userprofile:login' %}" class="nav-link">登录</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% if user.is_authenticated %}
    <form action="{% url 'userprofile:delete' user.id %}" style="display:none;" id="user_delete" method="post">
        {% csrf_token %}
        <button type="submit">发送</button>
    </form>

    <script>
        function user_delete() {
            layer.open({
                title: '确认删除',
                content: '确认删除用户资料吗？',
                area:['200px', '300px'],
                yes: function (index, layero) {
                    $('form#user_delete button').click();
                    layer.close(index);
                },
            })
        }
    </script>
{% endif %}

